<!-- references: https://www.freecodecamp.org/news/how-to-validate-angular-reactive-forms/ -->

<div class="container">
  <div class="row normal-row">
      <div class="col-md-11 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h3>CRUD Generator for Laravel App</h3>
                  <p>In the form below, you have to provide various data of your CRUD page. Then submit the form to generate code files.</p>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="dataEntryForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>Web app source code path</label>
                          <input tabindex="1" type="text" class="form-control" formControlName="webAppSourceCodePath" placeholder="Web app source code path">
                          <p>
                            You have to specify the root directory of your Laravel project here. the generated code files will be automatically copied to appropriate locations of your target project.
					                  <br />
					                  If your OS is Linux: specify path like: /home/shoeb/Documents/my-project
					                  <br />
					                  If your OS is Windows: specify path like: C:\Users\shoeb\Documents\my-project
                          </p>
                          <span class="text-danger"
                              *ngIf="(dataEntryFormControl.webAppSourceCodePath.touched || submitted) && dataEntryFormControl.webAppSourceCodePath.errors?.required">
                              Web app source code path is required
                          </span>
                      </div>

                      <div class="form-group">
                        <label>DB Table name</label>
                        <input tabindex="2" type="text" class="form-control" formControlName="tableName" placeholder="DB Table name">
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.tableName.touched || submitted) && dataEntryFormControl.tableName.errors?.required">
                            DB Table name is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Migration class name</label>
                        <input tabindex="3" type="text" class="form-control" formControlName="migrationClassName" placeholder="Migration class name">
                        <p>
                          As per the table definitons you will provide, a Laravel migration class will be generated. Please provide the name of that class.
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.migrationClassName.touched || submitted) && dataEntryFormControl.migrationClassName.errors?.required">
                            Migration class name is required
                        </span>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <span class="span_bold">Database Table definitons</span>
                        </div>
                        <div class="col-md-7">
                          <div class="form-group">
                            <label>Column name</label>
                            <input tabindex="4" type="text" class="form-control" formControlName="columnName" id="columnName" placeholder="Column name">
                            <span class="text-danger"
                                *ngIf="(dataEntryFormControl.columnName.touched || submitted) && dataEntryFormControl.columnName.errors?.required">
                                Column name is required
                            </span>
                          </div>

                          <div class="form-group">
                            <label>Column type</label>
                            <select tabindex="5" class="form-control" formControlName="columnType" id="columnType">
                              <option value="string">string</option>
                              <option value="integer">integer</option>
                              <option value="double">double</option>
                              <option value="text">long text</option>
                              <option value="binary">image / file</option>
                              <option value="bigInteger">big integer</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="(dataEntryFormControl.columnType.touched || submitted) && dataEntryFormControl.columnType.errors?.required">
                                Column type is required
                            </span>
                          </div>

                          <div class="form-group" [hidden]="dataEntryFormControl.columnType.value == 'integer' || dataEntryFormControl.columnType.value == 'double' || dataEntryFormControl.columnType.value == 'bigInteger' || dataEntryFormControl.columnType.value == 'binary'">
                            <label>Column length</label>
                            <input tabindex="6" type="number" class="form-control" formControlName="columnLength" id="columnLength" placeholder="Column length">
                            <span class="text-danger"
                                *ngIf="(dataEntryFormControl.columnLength.touched || submitted) && dataEntryFormControl.columnLength.errors?.required">
                                Column length is required
                            </span>
                          </div>

                          <div class="form-group">
                            <label>Column is nullable?</label>
                            <select tabindex="7" class="form-control" formControlName="columnNullable" id="columnNullable">
                              <option value="true">yes</option>
                              <option value="false" selected>no</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="(dataEntryFormControl.columnNullable.touched || submitted) && dataEntryFormControl.columnNullable.errors?.required">
                                Column is nullable is required
                            </span>
                          </div>

                          <div class="form-group">
                            <input type="button" tabindex="8" (click)="addColumn()" class="btn btn-primary" value="Add Column" />
                          </div>

                          <hr />

                          <table class="table table-striped">
                            <tr>
                              <th>#</th>
                              <th>Name</th>                              
                              <th>Type</th>
                              <th>Length</th>    
                              <th>Nullable?</th>
                              <th>Action</th>
                            </tr>
                            <tr  *ngFor="let item of finalJsonObject['database']['table_fields']; index as i;">  <!-- ref: https://angular.io/api/common/NgForOf -->
                              <td>{{ i+1 }}</td>
                              <td>{{ item.name }}</td>                              
                              <td>{{ item.dataType }}</td>
                              <td>{{ item.length }}</td>                                                            
                              <td>{{ item.nullable }}</td>                                                                                          
                              <td>
                                <a style="cursor:pointer" (click)="removeColumn(i)">X</a>
                              </td>
                            </tr>                            
                          </table>

                        </div>
                      </div>

                      <div class="form-group">
                        <label>Entity name (singular)</label>
                        <input tabindex="9" type="text" class="form-control" formControlName="entityNameSingular" placeholder="Entity name (singular)">
                        <p>
                          E.g. Person, Customer, Book, Salary
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.entityNameSingular.touched || submitted) && dataEntryFormControl.entityNameSingular.errors?.required">
                            Entity name (singular) is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Entity name (plural)</label>
                        <input tabindex="10" type="text" class="form-control" formControlName="entityNamePlural" placeholder="Entity name (plural)">
                        <p>
                          E.g. Persons, Customers, Book, Salaries
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.entityNamePlural.touched || submitted) && dataEntryFormControl.entityNamePlural.errors?.required">
                            Entity name (plural) is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Name of folder containing views</label>
                        <input tabindex="11" type="text" class="form-control" formControlName="nameOfFolderContainingViews" placeholder="Name of folder containing views">
                        <p>
                          E.g. persons, customers, book, salaries
                          <br />
                          There will be four generated blade template files for each entity. These files will be kept in a separate folder. Specify the folder name here.
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.nameOfFolderContainingViews.touched || submitted) && dataEntryFormControl.nameOfFolderContainingViews.errors?.required">
                            Name of folder containing views is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Select Clause Of Query For Grid</label>
                        <input tabindex="12" type="text" class="form-control" formControlName="selectClauseOfQueryForGrid" placeholder="Select clause of query for grid">
                        <p>
                          E.g.&nbsp;&nbsp;&nbsp;select('id', 'name', 'destination_type', 'cost', 'cost_unit', 'maximum_distance')
                          <br />
                          In the view page showing all existing DB rows, raw SQL query will be used to populate the data grid. Specify the select clause of the raw SQL query. Do not include the from clause or where clause. Please check the example and write accordingly.
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.selectClauseOfQueryForGrid.touched || submitted) && dataEntryFormControl.selectClauseOfQueryForGrid.errors?.required">
                            Select Clause Of Query For Grid is required
                        </span>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <span class="span_bold">UI Grid Definitons</span>
                          <p>
                            Here you have to provide some data regarding the HTML grid that will display all DB rows.
                          </p>
                        </div>
                        <div class="col-md-7">
                                                    <div class="form-group">
                                                      <label>Column header name</label>
                                                      <input tabindex="13" type="text" class="form-control" formControlName="columnHeaderName" id="columnHeaderName" placeholder="Column header name">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.columnHeaderName.touched || submitted) && dataEntryFormControl.columnHeaderName.errors?.required">
                                                          Column header name is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <label>Corresponding DB field name</label>
                                                      <input tabindex="14" type="text" class="form-control" formControlName="correspondingDbFieldName" id="correspondingDbFieldName" placeholder="Corresponding DB field name">
                                                      <p>
                                                        What is the name of the DB table field that will be used for the column header given above?
                                                      </p>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.correspondingDbFieldName.touched || submitted) && dataEntryFormControl.correspondingDbFieldName.errors?.required">
                                                          Corresponding DB field name is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <input type="button" tabindex="15" (click)="addUiGridInfo()" class="btn btn-primary" value="Add UI Grid Info" />
                                                    </div>
                          
                                                    <hr />
                          
                                                    <table class="table table-striped">
                                                      <tr>
                                                        <th>#</th>
                                                        <th>Column header name</th>                              
                                                        <th>Corresponding DB field</th>
                                                        <th>Action</th>
                                                      </tr>
                                                      <tr  *ngFor="let item of finalJsonObject['code']['grid_ui']['all_data']; index as i;">  <!-- ref: https://angular.io/api/common/NgForOf -->
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ item.columnHeaderName }}</td>                              
                                                        <td>{{ item.correspondingDbFieldName }}</td>                                                                              
                                                        <td>
                                                          <a style="cursor:pointer" (click)="removeUiGridInfo(i)">X</a>
                                                        </td>
                                                      </tr>                            
                                                    </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <span class="span_bold">UI View Page Definitons</span>
                          <p>
                            Here you have to provide some data regarding the HTML view page that will show a single DB record in view-only mode.
                          </p>
                        </div>
                        <div class="col-md-7">
                                                    <div class="form-group">
                                                      <label>Label</label>
                                                      <input tabindex="16" type="text" class="form-control" formControlName="uiViewPageLabel" id="uiViewPageLabel" placeholder="Label">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.uiViewPageLabel.touched || submitted) && dataEntryFormControl.uiViewPageLabel.errors?.required">
                                                          Label is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <label>Corresponding DB field name</label>
                                                      <input tabindex="17" type="text" class="form-control" formControlName="uiViewPageLabelCorrespondingDbFieldName" id="uiViewPageLabelCorrespondingDbFieldName" placeholder="Corresponding DB field name">
                                                      <p>
                                                        What is the name of the DB table field that will be used for the label given above?
                                                      </p>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.uiViewPageLabelCorrespondingDbFieldName.touched || submitted) && dataEntryFormControl.uiViewPageLabelCorrespondingDbFieldName.errors?.required">
                                                          Corresponding DB field name is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>Field type</label>
                                                      <select tabindex="18" class="form-control" formControlName="uiViewPageFieldType" id="uiViewPageFieldType">
                                                        <option value="string">string</option>
                                                        <option value="image">image</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.uiViewPageFieldType.touched || submitted) && dataEntryFormControl.uiViewPageFieldType.errors?.required">
                                                          Field type is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <input type="button" tabindex="19" (click)="addUiViewPageInfo()" class="btn btn-primary" value="Add View Page Info" />
                                                    </div>
                          
                                                    <hr />
                          
                                                    <table class="table table-striped">
                                                      <tr>
                                                        <th>#</th>
                                                        <th>Label</th>                              
                                                        <th>Corresponding DB field</th>
                                                        <th>Field type</th>
                                                        <th>Action</th>
                                                      </tr>
                                                      <tr  *ngFor="let item of finalJsonObject['code']['view_page_ui']['table_rows']; index as i;">  <!-- ref: https://angular.io/api/common/NgForOf -->
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ item.label }}</td>                   
                                                        <td>{{ item.propertyName }}</td>                              
                                                        <td>{{ item.dataType }}</td>                                                                              
                                                        <td>
                                                          <a style="cursor:pointer" (click)="removeUiViewPageInfo(i)">X</a>
                                                        </td>
                                                      </tr>                            
                                                    </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <span class="span_bold">UI Form Definitons</span>
                          <p>
                            Here you have to provide some data regarding the HTML form for adding / editing records
                          </p>
                        </div>
                        <div class="col-md-7">
                                                    <div class="form-group">
                                                      <label>Form field label</label>
                                                      <input tabindex="20" type="text" class="form-control" formControlName="formFieldLabel" id="formFieldLabel" placeholder="Form field label">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldLabel.touched || submitted) && dataEntryFormControl.formFieldLabel.errors?.required">
                                                          Form field label is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <label>Form field type</label>
                                                      <select tabindex="21" class="form-control" formControlName="formFieldType" id="formFieldType">
                                                        <option value="text">text</option>
                                                        <option value="textarea">textarea</option>
                                                        <option value="file">file</option>
                                                        <option value="number">number</option>
                                                        <option value="combobox">combobox</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldType.touched || submitted) && dataEntryFormControl.formFieldType.errors?.required">
                                                          Form field type is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>DB column for this form field</label>
                                                      <input tabindex="22" type="text" class="form-control" formControlName="dbColumnForThisFormField" id="dbColumnForThisFormField" placeholder="DB column for this form field">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.dbColumnForThisFormField.touched || submitted) && dataEntryFormControl.dbColumnForThisFormField.errors?.required">
                                                          DB column for this form field is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>Form field is mandatory?</label>
                                                      <select tabindex="23" class="form-control" formControlName="formFieldIsMandatory" id="formFieldIsMandatory">
                                                        <option value="true">yes</option>
                                                        <option value="false" selected>no</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldIsMandatory.touched || submitted) && dataEntryFormControl.formFieldIsMandatory.errors?.required">
                                                          Form field is mandatory is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group" [hidden]="dataEntryFormControl.formFieldType.value == 'file' || dataEntryFormControl.formFieldType.value == 'number'">
                                                      <label>Maximum length of form field</label>
                                                      <input tabindex="24" type="text" class="form-control" formControlName="maximumLengthOfFormField" id="maximumLengthOfFormField" placeholder="Maximum length of form field">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.maximumLengthOfFormField.touched || submitted) && dataEntryFormControl.maximumLengthOfFormField.errors?.required">
                                                          Maximum length of form field is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group" [hidden]="dataEntryFormControl.formFieldType.value == 'file'">
                                                      <label>Validation rules</label>
                                                      <select tabindex="25" class="form-control" formControlName="validationRules" id="validationRules">
                                                        <option value="nameWithSpaceRegex">Only alphabets, spaces and the following characters: ' - .</option>
                                                        <option value="numberRegex">Only numbers</option>
                                                        <option value="moneyRegex">Only monetary values (numbers with two decimal places)</option>
                                                        <option value="nameWithSpaceAndNumbersRegex">Only alphabets, numbers, spaces and the following characters: ' - .</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.validationRules.touched || submitted) && dataEntryFormControl.validationRules.errors?.required">
                                                          Validation rules is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <input type="button" tabindex="26" (click)="addFormDefinition()" class="btn btn-primary" value="Add Form Definition" />
                                                    </div>
                          
                                                    <hr />
                          
                                                    <table class="table table-striped">
                                                      <tr>
                                                        <th>#</th>
                                                        <th>Label</th>            
                                                        <th>Type</th>            
                                                        <th>Corresponding DB field</th>                                                                                                                                              
                                                        <th>Mandatory?</th>
                                                        <th>Maximum length</th>                                                        
                                                        <th>Validation rules</th>
                                                        <th>Action</th>
                                                      </tr>
                                                      <tr  *ngFor="let item of finalJsonObject['code']['form_ui']['fields']; index as i;">  <!-- ref: https://angular.io/api/common/NgForOf -->
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ item.label }}</td>
                                                        <td>{{ item.type }}</td>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.required }}</td>
                                                        <td>{{ item.maxlength }}</td>
                                                        <td>{{ item.regex }}</td>                                                                              
                                                        <td>
                                                          <a style="cursor:pointer" (click)="removeFormDefinition(i)">X</a>
                                                        </td>
                                                      </tr>                            
                                                    </table>
                        </div>
                      </div>

                      <div class="form-group" style="text-align:right">
                          <input tabindex="27" type="submit" class="btn btn-success" value="Next" />
                      </div>

                      <div [hidden]="generateDataLinkClicked == true && downloadLinkClicked == false" style="padding-top:5%">
                        You can save the data entered in the form in a downloadable file, and use it later on.
                        <br />
                        To save the data, click the link below
                        <br />
                        <a (click)="generateFile()" class="btn btn-success">Generate file</a>
                      </div>
        
                      <div [hidden]="generateDataLinkClicked == false && downloadLinkClicked == false" style="padding-top:5%">
                          <a (click)="downloadFile()" class="btn btn-success" [href]="downloadJsonHref" download="data_as_json.json">Download data</a>
                      </div>
                      
                      <div style="padding-top:5%">
                        If you aleady have a previously downloaded file, upload it to automatically fill up the form.
                        <br />
                        
                        <!-- ref: https://stackoverflow.com/questions/54971238/upload-json-file-using-angular-6 -->
                        <input type="file" id="uploadedJson" (change)="onUploadedJsonFileChanged($event)" />
                        <a (click)="processUploadedJson()" class="btn btn-success">Next</a>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
