<!-- references: https://www.freecodecamp.org/news/how-to-validate-angular-reactive-forms/ -->

<div class="container">
  <div class="row normal-row">
      <div class="col-md-11 mx-auto">
          <div class="card">
              <div class="card-header">
                  <h3>CRUD Generator for Laravel App</h3>
                  <p>In the form below, you have to provide various data of your CRUD page. Then submit the form to generate code files.</p>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="dataEntryForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                          <label>Operating system</label>
                          <select tabindex="1" class="form-control" formControlName="operatingSystem" id="operatingSystem">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">Mac OS</option>
                          </select>
                          <p>
                            Which operating system are you using to run this application?
                          </p>
                          <span class="text-danger"
                              *ngIf="(dataEntryFormControl.operatingSystem.touched || submitted) && dataEntryFormControl.operatingSystem.errors?.required">
                              Operating system is required
                          </span>
                        </div>

                      <div class="form-group">
                          <label>Web app source code path</label>
                          <input tabindex="2" type="text" class="form-control" formControlName="webAppSourceCodePath" placeholder="Web app source code path">
                          <p>
                            You have to specify the root directory of your Laravel project here. the generated code files will be automatically copied to appropriate locations of your target project.
					                  <br />
					                  If your OS is Linux: specify path like: /home/shoeb/Documents/my-project
					                  <br />
					                  If your OS is Windows: specify path like: C:\Users\shoeb\Documents\my-project
                          </p>
                          <span class="text-danger"
                              *ngIf="(dataEntryFormControl.webAppSourceCodePath.touched || submitted) && dataEntryFormControl.webAppSourceCodePath.errors?.required">
                              Web app source code path is required
                          </span>
                      </div>

                      <div class="form-group">
                        <label>DB Table name</label>
                        <input tabindex="3" type="text" class="form-control" formControlName="tableName" placeholder="DB Table name">
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.tableName.touched || submitted) && dataEntryFormControl.tableName.errors?.required">
                            DB Table name is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Entity name (singular)</label>
                        <input tabindex="9" type="text" class="form-control" formControlName="entityNameSingular" placeholder="Entity name (singular)">
                        <p>
                          E.g. Person, Customer, Book, Salary
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.entityNameSingular.touched || submitted) && dataEntryFormControl.entityNameSingular.errors?.required">
                            Entity name (singular) is required
                        </span>
                      </div>

                      <div class="form-group">
                        <label>Entity name (plural)</label>
                        <input tabindex="10" type="text" class="form-control" formControlName="entityNamePlural" placeholder="Entity name (plural)">
                        <p>
                          E.g. Persons, Customers, Book, Salaries
                        </p>
                        <span class="text-danger"
                            *ngIf="(dataEntryFormControl.entityNamePlural.touched || submitted) && dataEntryFormControl.entityNamePlural.errors?.required">
                            Entity name (plural) is required
                        </span>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <span class="span_bold">UI Form Definitons</span>
                          <p>
                            Here you have to provide some data regarding the HTML form for adding / editing records
                          </p>
                        </div>
                        <div class="col-md-7">
                                                    <div class="form-group">
                                                      <label>Form field label</label>
                                                      <input tabindex="11" type="text" class="form-control" formControlName="formFieldLabel" id="formFieldLabel" placeholder="Form field label">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldLabel.touched || submitted) && dataEntryFormControl.formFieldLabel.errors?.required">
                                                          Form field label is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <label>Form field type</label>
                                                      <select tabindex="12" class="form-control" formControlName="formFieldType" id="formFieldType">
                                                        <option value="text">text</option>
                                                        <option value="textarea">textarea</option>
                                                        <option value="file">file</option>
                                                        <option value="number">number</option>
                                                        <option value="combobox">combobox</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldType.touched || submitted) && dataEntryFormControl.formFieldType.errors?.required">
                                                          Form field type is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>DB column name for this form field</label>
                                                      <input tabindex="13" type="text" class="form-control" formControlName="dbColumnForThisFormField" id="dbColumnForThisFormField" placeholder="DB column for this form field">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.dbColumnForThisFormField.touched || submitted) && dataEntryFormControl.dbColumnForThisFormField.errors?.required">
                                                          DB column name for this form field is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>DB column type for this form field</label>
                                                      <select tabindex="14" class="form-control" formControlName="dbColumnTypeForThisFormField" id="dbColumnTypeForThisFormField">
                                                        <option value="string">string</option>
                                                        <option value="integer">integer</option>
                                                        <option value="double">double</option>
                                                        <option value="text">long text</option>
                                                        <option value="binary">image / file</option>
                                                        <option value="bigInteger">big integer</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.dbColumnTypeForThisFormField.touched || submitted) && dataEntryFormControl.dbColumnTypeForThisFormField.errors?.required">
                                                          DB column type for this form field is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group">
                                                      <label>Form field is mandatory?</label>
                                                      <select tabindex="23" class="form-control" formControlName="formFieldIsMandatory" id="formFieldIsMandatory">
                                                        <option value="true">yes</option>
                                                        <option value="false" selected>no</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.formFieldIsMandatory.touched || submitted) && dataEntryFormControl.formFieldIsMandatory.errors?.required">
                                                          Form field is mandatory is required
                                                      </span>
                                                    </div>


                                                    <div class="form-group" [hidden]="dataEntryFormControl.formFieldType.value == 'file' || dataEntryFormControl.formFieldType.value == 'number'">
                                                      <label>Maximum length of form field</label>
                                                      <input tabindex="24" type="text" class="form-control" formControlName="maximumLengthOfFormField" id="maximumLengthOfFormField" placeholder="Maximum length of form field">
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.maximumLengthOfFormField.touched || submitted) && dataEntryFormControl.maximumLengthOfFormField.errors?.required">
                                                          Maximum length of form field is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group" [hidden]="dataEntryFormControl.formFieldType.value == 'file'">
                                                      <label>Validation rules</label>                                                      
                                                      <select tabindex="25" class="form-control" formControlName="validationRules" id="validationRules">
                                                        <option value="nameWithSpaceRegex">Only alphabets, spaces and the following characters: ' - .</option>
                                                        <option value="numberRegex">Only numbers</option>
                                                        <option value="moneyRegex">Only monetary values (numbers with two decimal places)</option>
                                                        <option value="nameWithSpaceAndNumbersRegex">Only alphabets, numbers, spaces and the following characters: ' - .</option>
                                                        <option value="addressRegex">Only alphabets, numbers, spaces and the following characters: ' - . , # /</option>
                                                        <option value="emailRegex">Email</option>                                                        
                                                        <option value="longDescriptionRegex">Alphabets, numbers, \ & , ; ' - . and spaces</option>
                                                      </select>
                                                      <span class="text-danger"
                                                          *ngIf="(dataEntryFormControl.validationRules.touched || submitted) && dataEntryFormControl.validationRules.errors?.required">
                                                          Validation rules is required
                                                      </span>
                                                    </div>

                                                    <div class="form-group">
                                                      <input type="button" tabindex="26" (click)="addFormDefinition()" class="btn btn-primary" value="Add Form Definition" />
                                                    </div>
                          
                                                    <hr />
                          
                                                    <table class="table table-striped">
                                                      <tr>
                                                        <th>#</th>
                                                        <th>Label</th>            
                                                        <th>Type</th>            
                                                        <th>Corresponding DB field</th>
                                                        <th>DB field type</th>                                                                                                                                              
                                                        <th>Mandatory?</th>
                                                        <th>Maximum length</th>                                                        
                                                        <th>Validation rules</th>
                                                        <th>Action</th>
                                                      </tr>
                                                      <tr  *ngFor="let item of finalJsonObject['ui_form_fields']; index as i;">  <!-- ref: https://angular.io/api/common/NgForOf -->
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ item.label }}</td>
                                                        <td>{{ item.type }}</td>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.id_type }}</td>
                                                        <td>{{ item.required }}</td>
                                                        <td>{{ item.maxlength }}</td>
                                                        <td>{{ item.regex }}</td>                                                                              
                                                        <td>
                                                          <a style="cursor:pointer" (click)="removeFormDefinition(i)">X</a>
                                                        </td>
                                                      </tr>                            
                                                    </table>
                        </div>
                      </div>

                      <div class="form-group" style="text-align:right">
                          <input tabindex="27" type="submit" class="btn btn-success" value="Next" />
                      </div>

                      <div [hidden]="generateDataLinkClicked == true && downloadLinkClicked == false" style="padding-top:5%">
                        You can save the data entered in the form in a downloadable file, and use it later on.
                        <br />
                        To save the data, click the link below
                        <br />
                        <a (click)="generateFile()" class="btn btn-success">Generate file</a>
                      </div>
        
                      <div [hidden]="generateDataLinkClicked == false && downloadLinkClicked == false" style="padding-top:5%">
                          <a (click)="downloadFile()" class="btn btn-success" [href]="downloadJsonHref" download="data_as_json.json">Download data</a>
                      </div>
                      
                      <div style="padding-top:5%">
                        If you aleady have a previously downloaded file, upload it to automatically fill up the form.
                        <br />
                        
                        <!-- ref: https://stackoverflow.com/questions/54971238/upload-json-file-using-angular-6 -->
                        <input type="file" id="uploadedJson" (change)="onUploadedJsonFileChanged($event)" />
                        <a (click)="processUploadedJson()" class="btn btn-success">Next</a>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
